<form [formGroup]="form" class="formGroup">

  <div class="inputAndSelect">

    <input type="number" formControlName="selectFromValue" value="{{convertSumaTo}}" min="0" class="input">

    <select formControlName="selectFromCode" class="select">
      <option *ngFor="let currency of currencies">{{currency}}</option>
    </select>

  </div>

  <div class="inputAndSelect">

    <input type="number" formControlName="selectToValue" value="{{convertSumaFrom}}" min="0" class="input">

    <select formControlName="selectToCode" class="select">
      <option *ngFor="let currency of currencies">{{currency}}</option>
    </select>

  </div>

</form>


